html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ced6f0;
    font-family: Roboto, sans-serif;
}

.main-card{
    width: 50%;
    padding: 45px;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.main-tittle{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: #8794ba; */
}

.main-card i {
    color: #4269e2;
    font-size: 2.5em;
    text-align: end;
}

h1{
    font-family: "Anek Kannada", sans-serif;
    text-align: center;
    color: #010d49;
    font-weight: 900;
    margin-top: -15px;
    margin-bottom: -10px;
    margin-right: 10px;
    padding: 0;
    font-size: 3.8em;
}

h3{
    margin: 0;
    font-size: 1.6em;
}

input[type="submit"] {
    width: 100%;
    display: block;
    margin: 20px auto;
    background-color: #4068e0;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 99%;
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(206, 206, 206);
    padding: 15px 0 15px 0;
    border-radius: 5px;
}

input[type="password"] {
    width: 99%;
    display: block;
    margin: 20px auto;
    border: 2px solid rgb(206, 206, 206);
    padding: 15px 0 15px 0;
    border-radius: 5px;
}

h4{
    font-size: 0.9em;
    font-weight: 500;
    margin: 20px 0 -10px 0;

}

h5{
    font-size: 0.75em;
    font-weight: 400;
    margin: 10px 0 30px 0;
    color: rgb(82, 80, 80)
}

hr{
    height: 1px;
    border-width: 0px;
    background-color: rgb(224, 224, 224);
    margin-bottom: 30px;
}

h6{
    text-align: center;
    font-weight: 400;
    font-size: 0.7em;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
